<div class="wrapper" tabindex="0">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">

            </div>
        </div>
    </div>
    <div class="container pt-2">
        <div class="col-md-12">
            <!-- First image on the right side, above the article -->
            <h2 class="title text-center">Who we are?</h2>
            <h5  style="color: black;">
                Dreams Peace Foundation was registered under Indian Trust Act 1882 in 2019, since then our organization has been expanding continuously in terms of social development. It has worked for the promotion of sustainable, equitable and participatory development, social welfare and community-based justice. We have earned recognition as an institution(organization) from state government of different states of India and International organizations. We as an organization contributing in the field of education, health and child protection.
            </h5>
            <div class="section section-team text-center pt-3">
                <div class="col-md-12">
                    <div class="container">
                        <!-- First image on the right side, above the article -->
                        
                        <div class="team">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Sumit Kumar</h4>
    
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Team/jaisen.jpeg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Jaisen Gautam</h4>
 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Team/shiva.jpeg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Shiva Kumar</h4>
 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Ankit Bihari</h4>
 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Team/ayushi.jpeg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Ayushi Saxena</h4>
  
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Team/nabeem.jpeg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Mohammad Nadeem</h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Team/Rajni.jpeg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Rajni </h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Team/Atulpic.jpg" alt="Thumbnail Image"
                                            class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                        <h4 class="title">Atul Khurana</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>