<div class="wrapper" tabindex="0">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">

            </div>
        </div>
    </div>
    <div class="container pt-2">
        <div class="col-md-12">
            <!-- First image on the right side, above the article -->
            <h2 class="title text-center">Donate Us</h2>
            <p class="blockquote blockquote-primary">
                <span style="font-size: 18px;font-weight: bold;" id="Donation">Bank Details</span>
                <br/>
                <span>Name of Account: Dreams Peace Foundation</span>
                <br/>
                <span>Account No: 50200067651302</span>
                <br/>
                <span>Branch Name: Indira Nagar 3</span>
                <br/>
                <span>Branch Code: 9176</span>
                <br/>
                <span>IFSC Code: HDFC0009176</span>
                <br>
                <span style="font-size: 18px;font-weight: bold;" id="Donation">Or Visit </span>
                <br/>
                <span>A-128 Lavkush Nagar</span>
                <br/>
                <span>Indira Nagar, Lucknow</span>
                <br/>
                <span>Pradesh- 226016</span>
            </p>
        </div>
    </div>
</div>