<div class="wrapper" tabindex="0">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">

            </div>
        </div>
    </div>
    <div class="section section-team text-center pt-2">
        <div class="col-md-12">
            <h2 class="title text-center">Here is our team</h2>
            <div class="container">
                <!-- First image on the right side, above the article -->
                
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Sumit Kumar</h4>
                                <!-- <p class="category text-primary">Model</p> -->
                                <p style="color: black;">Mr. Sumit Kumar is a compassionate and driven social worker
                                    with a
                                    passion for help others. He has a Bachelor of Economics degree from University of
                                    Lucknow. He is also a National Service Scheme. He has experience working with a
                                    variety
                                    of populations, including children n, youth, adults, and families. He is committed
                                    to
                                    social justice and advocacy, and he is always looking for ways to make a difference
                                    in
                                    the lives of others.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/Team/jaisen.jpeg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Jaisen Gautam</h4>
                                <!-- <p class="category text-primary">Designer</p> -->
                                <p style="color: black;">Mr. Jaisen Gautam is a compassionate and dedicated social
                                    worker
                                    with a unique legal background. He is skilled in assessing client needs, developing
                                    intervention plans, and advocating for their rights. Jaisen is committed to social
                                    justice and using his legal knowledge to help others navigate complex systems and
                                    achieve their goals. He has a passion for helping marginalized populations, and he
                                    is
                                    always looking for ways to make a positive impact in the community.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/Team/shiva.jpeg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Shiva Kumar</h4>
                                <!--  <p class="category text-primary">Fashion</p> -->
                                <p style="color: black;">Mr. Shiva Kumar is a passionate and dedicated social worker and
                                    the
                                    founder of Dreams Peace Foundation, a non-profit organization committed to
                                    empowering
                                    children, youth, and marginalized populations.With a strong track record of working
                                    with
                                    these populations and developing and implementing programs that promote child
                                    protection, livelihood development, and social justice.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Ankit Bihari</h4>
                                <!-- <p class="category text-primary">Fashion</p> -->
                                <p style="color: black;">Mr. Ankit Bihari is a visionary social worker and the founder
                                    of
                                    Dreams Peace Foundation, a non-profit organization dedicated to building a more
                                    peaceful
                                    and just world for children, youth, and marginalized populations.With a deep
                                    understanding of the challenges faced by these communities, Ankit has developed and
                                    implemented innovative programs that promote child protection, livelihood
                                    development,
                                    and social justice.His passion and dedication are evident in his work, and he is
                                    uniquely qualified to lead Dreams Peace Foundation in its mission to create a better
                                    world for all.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/Team/ayushi.jpeg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Ayushi Saxena</h4>
                                <!-- <p class="category text-primary">Fashion</p> -->
                                <p style="color: black;">Mrs. Ayush Saxena is a Bachelor of Journalism & Mass
                                    Communication
                                    student at Khwaja Moinuddin Chishti Language University. A proven leader with a
                                    demonstrated history of success in event coordination and team management. Awarded
                                    for
                                    academic excellence and athletic achievements. Dedicated volunteer with UNICEF,
                                    demonstrating a commitment to making a positive impact on the world.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/Team/nabeem.jpeg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Mohammad Nadeem</h4>
                                <!-- <p class="category text-primary">Fashion</p> -->
                                <p style="color: black;">Mr. Mohammad Nadeem is a Bachelor of Journalism and Mass
                                    Communication student at Khwaja Moinuddin Chishti Language University with a passion
                                    for
                                    using film and photography as tools for social change. He has a proven track record
                                    of
                                    volunteerism and community engagement, having worked with a number of organizations
                                    to
                                    promote social justice and awareness.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/Team/Rajni.jpeg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Rajni </h4>
                                <!-- <p class="category text-primary">Fashion</p> -->
                                <p style="color: black;">Mrs. Rajni is a social worker with 8 years of experience in
                                    child
                                    and family welfare, women's empowerment, education and employment, health and
                                    well-being, poverty alleviation, and social justice. She has worked at Samaj
                                    Sdefault-avatar Kendra, Jhansi and Diocesan Social Work Society, Lucknow. She is
                                    skilled
                                    in client assessment and intervention, case management, resource development and
                                    linkage, advocacy and policy change, and community organizing and social development
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/Team/Atulpic.jpg" alt="Thumbnail Image"
                                    class="rounded-circle img-fluid img-raised" style="height: 200px;width: 200px;">
                                <h4 class="title">Atul Khurana</h4>
                                <!-- <p class="category text-primary">Fashion</p> -->
                                <p style="color: black;">Mr. Atul Khurana is a qualified Chartered Accountant and a
                                    Certified Social Auditor. He is working towards taking care of street dogs since the
                                    last few years in terms of feeding them and taking care of their shelter in
                                    difficult
                                    weather situations. He is focused towards promoting a healthy environment for all
                                    the
                                    living beings. Apart from this, Atul is also helping students of Chartered
                                    Accountancy
                                    by giving them regular counselling and mentorship free of cost. He is also
                                    passionate
                                    about guiding school students towards making a successful career. Atul is also an
                                    author
                                    of various technical books on taxation and auditing and has also authored more than
                                    50
                                    technical articles which has been published on renowned websites of India.
                                    <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                                </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>