<div class="wrapper" tabindex="0">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">

            </div>
        </div>
    </div>
    <div class="container pt-2">
        <div class="col-md-12">
            <!-- First image on the right side, above the article -->
            <h2 class="title text-center">Programs</h2>
            <h6 >Play For Peace</h6>
                <p>
                    Play for Peace is a group of people united by a dream of peace for our children—today and
                    tomorrow—and guided by our mission and core values. Each of our communities creates the
                    interventions most relevant to their needs and connects with the global learning community for
                    learning, inspiration, and support.
                </p>
                <h6>LSET (Life Skills Education for Transformation)</h6>
                <p>
                    LSET Program is based upon the core set of life skills as identified by WHO (1994). Includes Social
                    skills, Thinking skills, Emotional skills. All skills are interrelated. The practice of these life
                    skills leads to an increased sense of competence and positive changes in behaviour. The ultimate
                    goal for children is greater confidence and self-esteem, a healthy, positive lifestyle, and the
                    ability to become self-sustaining citizens of the world community.
                </p>
                <h6>Street Plays </h6>
                <div class="section" id="carousel">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/StreetPlay/1.jpeg" alt="First slide" style="height: 40em;">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!-- <h5>Nature, United States</h5> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/StreetPlay/2.jpeg" alt="Second slide" style="height: 40em;">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!-- <h5>Somewhere Beyond, United States</h5> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/StreetPlay/9.jpeg" alt="Third slide" style="height: 40em;">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!-- <h5>Yellowstone National Park, United States</h5> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/StreetPlay/14.jpeg" alt="Third slide" style="height: 40em;">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!-- <h5>Yellowstone National Park, United States</h5> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img class="d-block" src="assets/img/StreetPlay/11.jpeg" alt="Third slide" style="height: 40em;">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!-- <h5>Yellowstone National Park, United States</h5> -->
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>