<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <h1 class="title">Dreams Peace Foundation</h1> -->
                <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">
                        Dreams Peace Foundation was registered under Indian Trust Act 1882 in 2019, since then our organization has been expanding continuously in terms of social development. It has worked for the promotion of sustainable, equitable and participatory development, social welfare and community-based justice. We have earned recognition as an institution(organization) from state government of different states of India and International organizations. We as an organization contributing in the field of education, health and child protection.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpeg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary" style="width: 70%;">
                                <span style="font-size: 18px;">For Donation </span>
                                <br/>
                                <span>Name of Account: Dreams Peace Foundation</span>
                                <br/>
                                <span>Account No: 50200067651302</span>
                                <br/>
                                <span>Branch Name: Indira Nagar 3</span>
                                <br/>
                                <span>Branch Code: 9176</span>
                                <br/>
                                <span>IFSC Code: HDFC0009176</span>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpeg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3>Programs</h3>
                        <h6>Play For Peace</h6>
                        <p>
                          Play for Peace is a group of people united by a dream of peace for our children—today and tomorrow—and guided by our mission and core values. Each of our communities creates the interventions most relevant to their needs and connects with the global learning community for learning, inspiration, and support.
                        </p>
                        <h6>LSET (Life Skills Education for Transformation</h6>
                        <p>
                            LSET Program is based upon the core set of life skills as identified by WHO (1994). Includes Social skills, Thinking skills, Emotional skills. All skills are interrelated. The practice of these life skills leads to an increased sense of competence and positive changes in behaviour. The ultimate goal for children is greater confidence and self-esteem, a healthy, positive lifestyle, and the ability to become self-sustaining citizens of the world community.
                        </p>
                        <h6>Street Plays </h6>
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpeg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Sumit Kumar</h4>
                            <!-- <p class="category text-primary">Model</p> -->
                            <p class="description">He is a compassionate and driven social worker with a passion for help others. He has a Bachelor of Economics degree from University of Lucknow. He is also a National Service Scheme. He has experience working with a variety of populations, including children n, youth, adults, and families. He is committed to social justice and advocacy, and he is always looking for ways to make a difference in the lives of others.
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Jaisen Gautam</h4>
                            <!-- <p class="category text-primary">Designer</p> -->
                            <p class="description">Jaisen Gautam is a compassionate and dedicated social worker with a unique legal background. He is skilled in assessing client needs, developing intervention plans, and advocating for their rights. Jaisen is committed to social justice and using his legal knowledge to help others navigate complex systems and achieve their goals. He has a passion for helping marginalized populations, and he is always looking for ways to make a positive impact in the community.
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Shiva Kumar</h4>
                            <!-- <!-- <p class="category text-primary">Fashion</p> --> -->
                            <p class="description">Mr. Shiva Kumar is a passionate and dedicated social worker and the founder of Dreams Peace Foundation, a non-profit organization committed to empowering children, youth, and marginalized populations.With a strong track record of working with these populations and developing and implementing programs that promote child protection, livelihood development, and social justice.
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ankit Bihari</h4>
                            <!-- <p class="category text-primary">Fashion</p> --> 
                            <p class="description">Mr. Ankit Bihari is a visionary social worker and the founder of Dreams Peace Foundation, a non-profit organization dedicated to building a more peaceful and just world for children, youth, and marginalized populations.With a deep understanding of the challenges faced by these communities, Ankit has developed and implemented innovative programs that promote child protection, livelihood development, and social justice.His passion and dedication are evident in his work, and he is uniquely qualified to lead Dreams Peace Foundation in its mission to create a better world for all.
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ayushi Saxena</h4>
                            <!-- <p class="category text-primary">Fashion</p> -->
                            <p class="description">Ayush Saxena is a Bachelor of Journalism & Mass Communication student at Khwaja Moinuddin Chishti Language University. A proven leader with a demonstrated history of success in event coordination and team management. Awarded for academic excellence and athletic achievements. Dedicated volunteer with UNICEF, demonstrating a commitment to making a positive impact on the world.
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Mohammad Nadeem</h4>
                            <!-- <p class="category text-primary">Fashion</p> -->
                            <p class="description">Mohammad Nadeem is a Bachelor of Journalism and Mass Communication student at Khwaja Moinuddin Chishti Language University with a passion for using film and photography as tools for social change. He has a proven track record of volunteerism and community engagement, having worked with a number of organizations to promote social justice and awareness.
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Rajni </h4>
                            <!-- <p class="category text-primary">Fashion</p> -->
                            <p class="description">Rajni is a social worker with 8 years of experience in child and family welfare, women's empowerment, education and employment, health and well-being, poverty alleviation, and social justice. She has worked at Samaj Sdefault-avatar Kendra, Jhansi and Diocesan Social Work Society, Lucknow. She is skilled in client assessment and intervention, case management, resource development and linkage, advocacy and policy change, and community organizing and social development
                                <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                            </p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Send us a message </h2>
            <!-- <p class="description">Your project is very important to us.</p> -->
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                        <i class="now-ui-icons tech_mobile"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Mobile" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <!-- <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div> -->
    </footer>
</div>

